<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jbm.busbud" >

    <!-- We don't need a very precise Location, let's use Coarse -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- To access external BusBud API -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Basic application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BusBudTheme" >
        <activity
            android:name="jbm.busbud.BBMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
